{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>edit page</h1>
    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value={{title}} required>
        <br>
        <label for="content">Content:</label>
        <br>
        <textarea class="textarea" name="content" rows="2" cols="20" required>{{html_content}}</textarea>
        <br>
        <button type="submit" class="btn btn-primary">Save edit</button>
      </form>
{% endblock %}